<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TO_DO_LIST_APP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE30328F1F440886008E9EEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE3032A51F440886008E9EEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE3032B01F440886008E9EEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
